@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

#alerts-container {
	// Variables
	--wall-gap: 32px;
	--scaling: 1;
	--radius: 12px;

	--text-light: #000000;
	--text-dark: #FFFFFF;

	--bg-light: #FFFFFF;
	--bg-dark: #444444;

	--error: #d64747;
	--warning: #d27722;
	--success: #0ba808;
	--alert: #5274ca;

	// Container styling
	position: fixed;
	// top: var(--wall-gap);
	// left: var(--wall-gap);
	top: 0;
	left: 0;
	padding: var(--wall-gap);
	display: grid;
	grid-template-areas: 'stack';
	place-items: center;
	z-index: 999999;
	font-family: 'Quicksand', sans-serif;
	// Reset browser standards
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
}

// Theme styling
#alerts-container {
	.alerts {
		grid-area: stack;
		background: var(--bg-light);
		color: var(--text-light);
		padding: 16px;
		border-radius: var(--radius);
		box-shadow: 0px 9px 11px -7px rgba(0, 0, 0, 0.25);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 16px;
		translate: 0 -100%;
		opacity: 0;
		transition: opacity 300ms, translate 300ms, scale 300ms;
		max-width: fit-content;
		.alerts-icon {
			width: 32px;
			height: 32px;
		}
		.alerts-text {
			font-weight: 400;
			font-size: 24px;
			width: fit-content;
			min-width: 225px;
		}
		.alerts-countdown-icon {
			width: 32px;
			height: 32px;
			svg {
				rotate: -90deg;
				animation-duration: inherit;
				path {
					stroke: var(--text-light);
				}
				.progressCircle {
					stroke-dasharray: 75.36;
					animation: countdown 3000ms forwards linear;
					animation-duration: inherit;
				}
			}
		}
		@keyframes countdown {
			from {
				stroke-dashoffset: 0;
			}
			to {
				stroke-dashoffset: 75.36;
			}
		}
		.alerts-close-icon {
			width: 32px;
			height: 32px;
			position: relative;
			cursor: pointer;
			svg {
				path {
					stroke: var(--text-light);
				}
			}
		}
		.alerts-close-icon::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			width: 0;
			height: 0;
			background: var(--text-light);
			border-radius: 50%;
			opacity: 0.1;
			transition: width 200ms, height 200ms;
		}
		.alerts-close-icon:hover::before {
			width: 110%;
			height: 110%;
		}
	}
	.alerts.error {
		.alerts-icon svg path {
			fill: var(--error);
		}
	}
	.alerts.warning {
		.alerts-icon svg path {
			fill: var(--warning);
		}
	}
	.alerts.success {
		.alerts-icon svg path {
			fill: var(--success);
		}
	}
	.alerts.alert {
		.alerts-icon svg path {
			fill: var(--alert);
		}
	}
}
#alerts-container.dark {
	.alerts {
		background: var(--bg-dark);
		color: var(--text-dark);
		.alerts-countdown-icon svg path {
			stroke: var(--text-dark);
		}
		.alerts-close-icon svg path {
			stroke: var(--text-dark);
		}
		.alerts-close-icon::before {
			background: var(--text-dark);
		}
	}
}
#alerts-container.hideCountdown{
	.alerts{
		padding-right: 20px;
	}
}

// Positioning
#alerts-container.top-center {
	left: 0;
	right: 0;
}
#alerts-container.top-right {
	left: unset;
	right: 0;
}
#alerts-container.bottom-left {
	top: unset;
	bottom: 0;
	left: 0;
}
#alerts-container.bottom-center {
	top: unset;
	bottom: 0;
	left: 0;
	right: 0;
}
#alerts-container.bottom-right {
	left: unset;
	top: unset;
	bottom: 0;
	right: 0;
}
#alerts-container.bottom-right .alerts,
#alerts-container.bottom-center .alerts,
#alerts-container.bottom-left .alerts {
	translate: 0 200%;
}

// Animations
#alerts-container.slide-up .alerts {
	translate: 0 100%;
}

#alerts-container.slide-down .alerts {
	translate: 0 -100%;
}

#alerts-container.slide-left .alerts {
	translate: 100% 0;
}

#alerts-container.slide-right .alerts {
	translate: -100% 0;
}

#alerts-container .alerts.show {
	opacity: 1;
	translate: 0 0;
	transition: opacity 300ms, translate 300ms, scale 300ms;
}

// Reponsive styling
@media screen and (max-width: 500px) {
	#alerts-container {
		right: 0;
		left: 0;
		.alerts{
			width: 100%;
			max-width: unset;
			.alerts-text{
				width: 100%;
				min-width: unset;
			}
		}
	}
	#alerts-container.top-left, #alerts-container.top-center, #alerts-container.top-right, #alerts-container.bottom-right, #alerts-container.bottom-center, #alerts-container.bottom-left{
		right: 0;
		left: 0;
	}
}
